<table class="table">
    <tbody>
        <tr>
            <th>MEAN SIGMA X</th>
            <th>MEAN SIGMA Y</th>
            <th>MEAN SIGMA UNIFORMITY</th>
            <th>MEAN DELTA X</th>
            <th>MEAN DELTA Y</th>
            <th>MAX DELTA X</th>
            <th>MAX DELTA Y</th>
            <th>SIGMA X</th>
            <th>SIGMA Y</th>
            <th>DELTA X</th>
            <th>DELTA Y</th>
        </tr>
        <tr>
            <td>{{ data.datatable.mean_sigma_x }}</td>
            <td>{{ data.datatable.mean_sigma_y }}</td>
            <td>{{ data.datatable.mean_sigma_unif }}</td>
            <td>{{ data.datatable.mean_delta_x }}</td>
            <td>{{ data.datatable.mean_delta_y }}</td>
            <td>{{ data.datatable.max_delta_x }}</td>
            <td>{{ data.datatable.max_delta_y }}</td>
            <td>{{ data.datatable.sigma_x }}</td>
            <td>{{ data.datatable.sigma_y }}</td>
            <td>{{ data.datatable.delta_x }}</td>
            <td>{{ data.datatable.delta_y }}</td>
        </tr>
    </tbody>
</table>